Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.local
.env.development.local
.env.test.local
.vercel
.next
.git
.gitignore
**/.git
**/.gitignore
**/README.md
**/Dockerfile
**/node_modules
**/npm-debug.log
**/.env*
**/.next
**/.vercel
